<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST}  ^www.frannca.com.br [NC]
    RewriteRule ^(.*) http://frannca.com.br/$1 [L,R=301]
    
    RewriteCond %{HTTP_HOST}  !^(.*)com.br [NC]
    RewriteCond %{HTTP_HOST}  ^www.frannca.com [NC]
    RewriteRule ^(.*) http://frannca.com/$1 [L,R=301]

    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>