<div class="ui vertical stripe basic segment" id="about">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <h2>About</h2>

                <p>In activity since 2015, the company story started to be written a couple years before. When the
                    founder got the first clients. Always seeking to improve your skills, the first projects were
                    simple, but with focus in the clients needs. The great change came in 2015 when the company
                    <b>Webhost</b> proposed a partnership to develop the first big project: AESGA.</p>

                <p>Following the evolution of web development technologies and seeking to offer the best solutions to
                    its customers, in 2017 the company started working with <b>Angular</b> and <b>API</b>. The
                    improvements also extended to usability, using <b>Semantic UI</b> instead of <b>Bootstrap</b>.
                    Always seeking to bring innovative solutions.</p>
            </div>
        </div>
    </div>
</div>
