<div class="ui vertical stripe basic segment" id="clients">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <h2>Clients</h2>

                <p>The clients are fundamental for the existence of a company. Because each one of them has much to teach. And listen and comprehend to their problems is the best way to create the very best solution for them.</p>
                <div class="ui hidden divider"></div>

                <div class="ui relaxed items">
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/aesga.png" alt="AESGA logo">
                        </div>
                        <div class="content">
                            <a class="header">AESGA</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> University</span>
                            </div>
                            <div class="description">
                                <p>A traditional university of Garanhuns city of the state of Pernambuco. Pioneer in the superior formation of its region, with emphasis on the law course.</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/bluenet.png" alt="BlueNet logo">
                        </div>
                        <div class="content">
                            <a class="header">BlueNet</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Internet Provider</span>
                            </div>
                            <div class="description">
                                <p>Since 1996, it has been an internet provider in the city of Garanhuns. Being one of the pioneers to make Internet access available in the city.</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/cma.png" alt="CMA logo">
                        </div>
                        <div class="content">
                            <a class="header">CMA</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> School</span>
                            </div>
                            <div class="description">
                                <p>Founded in 1956, it has one of the best physical education structures in the city of Garanhuns, Brazil.</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/colinas-motor.png" alt="Colinas Motor logo">
                        </div>
                        <div class="content">
                            <a class="header">Colinas Motor</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Car Dealership</span>
                            </div>
                            <div class="description">
                                <p>Company of the JPN group, founded in 2015. It is a distributor of Volkswagen for Garanhuns and Arcoverde, in the state of Pernambuco.</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/danielle-santos.png" alt="Danielle Santos logo">
                        </div>
                        <div class="content">
                            <a class="header">Danielle Santos</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Law Firm</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/diocesano.png" alt="Diocesano logo">
                        </div>
                        <div class="content">
                            <a class="header">Diocesano</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> School</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/espaco-bailarte.png" alt="Espaço Bailarte logo">
                        </div>
                        <div class="content">
                            <a class="header">Espaço Bailarte</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Dancing School</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/explog.png" alt="Explog logo">
                        </div>
                        <div class="content">
                            <a class="header">Explog</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Product Marketer</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/g-vel.png" alt="G-VEL logo">
                        </div>
                        <div class="content">
                            <a class="header">G-VEL</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Car Dealership</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/idealizza.png" alt="Idealizza logo">
                        </div>
                        <div class="content">
                            <a class="header">Idealizza</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Systems development</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/jpn.png" alt="JPN logo">
                        </div>
                        <div class="content">
                            <a class="header">JPN</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Car Dealership</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bordered image">
                            <img src="../../assets/images/clients/worldnet.png" alt="WorldNet logo">
                        </div>
                        <div class="content">
                            <a class="header">WorldNet</a>
                            <div class="meta">
                                <span><span class="flag-icon flag-icon-br"></span> Internet Provider</span>
                            </div>
                            <div class="description">
                                <p>Description</p>
                            </div>
                            <div class="extra">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
