<div class="ui vertical stripe basic segment" id="portfolio">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <h2>Portfolio</h2>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <h2 class="ui huge header">
                    <a href="http://bluenet.com.br" target="_blank">BlueNet</a>
                    <div class="sub header">February, 2018</div>
                </h2>

                <img src="../../assets/images/portfolio/bluenet.jpg" class="ui fluid bordered image" alt="BlueNet Home">

                <div class="ui large header">
                    Details
                    <div class="sub header">Rebuilt the old site with modern technologies</div>
                </div>

                <p>
                    Site developed with Angular to manipulate the data through the API, which was developed using Lumen.
                    The client wanted a responsive layout, which was attended by using Semantic UI in conjunction with
                    SASS for customizations. In addition to using Gulp for automation of tasks, and Git for versioning.
                </p>

                <div class="ui large header">
                    Technologies
                    <div class="sub header">Technologies used in the project</div>
                </div>

                <div class="ui list">
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Angular
                            <div class="list">
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        Angular CLI
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        TypeScript
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        NPM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Lumen
                            <div class="list">
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        Artisan Console
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        PHP
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        Composer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Semantic UI
                            <div class="list">
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        HTML5
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        CSS3 with SASS
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        jQuery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Gulp
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            MySQL
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Git
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui section divider"></div>

        <div class="row">
            <div class="sixteen wide column">
                <h2 class="ui huge header">
                    <a href="http://www.diocesanogaranhuns.com.br" target="_blank">Diocesano</a>
                    <div class="sub header">April, 2017</div>
                </h2>

                <img src="../../assets/images/portfolio/diocesano.jpg" class="ui fluid bordered image" alt="BlueNet Home">

                <div class="ui large header">
                    Details
                    <div class="sub header">Develop a responsive and easy-to-use site</div>
                </div>

                <p>
                    First site developed using Angular and API. It was the most challenging project, using new
                    technologies for a large project. The API was built using Lumen, which was also used for the first
                    time in a project. And the layout started to use the Semantic UI, in previous projects was used
                    Bootstrap. This project did not use Angular CLI in the beginning, when it was updated from Angular 2
                    to Angular 4, it started to use the Angular CLI.
                </p>

                <div class="ui large header">
                    Technologies
                    <div class="sub header">Technologies used in the project</div>
                </div>

                <div class="ui list">
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Angular
                            <div class="list">
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        Angular CLI
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        TypeScript
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        NPM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Lumen
                            <div class="list">
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        Artisan Console
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        PHP
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        Composer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Semantic UI
                            <div class="list">
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        HTML5
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        CSS3 with SASS
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="long arrow right icon"></i>
                                    <div class="content">
                                        jQuery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Gulp
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            MySQL
                        </div>
                    </div>
                    <div class="item">
                        <i class="long arrow right icon"></i>
                        <div class="content">
                            Git
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
