<div class="ui two column centered company data grid">
    <div class="column">
        <div class="ui three large statistics">
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/299-users-flat.svg" class="ui inline image">
                    12
                </div>
                <div class="label">
                    Clients
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/54-web-development-flat.svg" class="ui inline image">
                    15
                </div>
                <div class="label">
                    Projects
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/45-rocket-flat.svg" class="ui inline image">
                    14
                </div>
                <div class="label">
                    Technologies
                </div>
            </div>
        </div>
    </div>
    <div class="four column centered row">
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

<div class="ui fluid padding container">
    <div class="ui divider"></div>
</div>

<div class="ui vertical stripe basic segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Mission</h3>
                <div class="ui bulleted list">
                    <div class="item">To simplify and optimize the life of people</div>
                    <div class="item">To inspire people to make their best</div>
                    <div class="item">To create solutions and make difference</div>
                </div>
                <h3 class="ui header">Vision</h3>
                <div class="ui bulleted list">
                    <div class="item"><b>People:</b> Be a refference place to work where people loves what they do</div>
                    <div class="item"><b>Clients:</b> Bring to the world the best solutions on the market and most innovative</div>
                    <div class="item"><b>Planet:</b> Be a company that invests and helps to create ecology solutions</div>
                    <div class="item"><b>Profit:</b> Increase the return of the company to enlarge the impact to the world investing in innovative solutions</div>
                </div>
                <h3 class="ui header">Values</h3>
                <div class="ui bulleted list">
                    <div class="item"><b>Passion:</b> Make difference trough passion</div>
                    <div class="item"><b>Commitment:</b> Changing the world requires commitment</div>
                    <div class="item"><b>Ethic:</b> Being an exemplary human being</div>
                </div>
            </div>
            <div class="six wide right floated column">
                <img src="../../assets/icons/67-diploma-flat.svg" class="ui fluid image">
            </div>
        </div>
    </div>
</div>

<div class="ui fluid padding container">
    <div class="ui divider"></div>
</div>

<div class="ui vertical stripe basic segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="ten wide column">
                <div class="ui three stackable cards">
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/angular.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/apache.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/atom.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/bitbucket.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/bootstrap.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/bower.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/cakephp.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/composer.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/css-3.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/docker.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/github.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/gulp.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/html-5.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/javascript.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/materialize.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/nginx.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/npm.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/php.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/phpstorm.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/sublime.png">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/sass.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/wordpress.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/typescript.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/lumen.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/semantic-ui.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/jquery.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/mysql.svg">
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/git.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <h3 class="ui header">Technologies</h3>
                <p>Always seeking innovate using recent and trusted technologies.</p>
                <div class="ui bulleted list">
                    <div class="item">Angular</div>
                    <div class="item">Lumen</div>
                    <div class="item">Semantic UI</div>
                    <div class="item">jQuery</div>
                    <div class="item">MySQL</div>
                    <div class="item">Git</div>
                </div>
            </div>
        </div>
    </div>
</div>