<div class="ui two column centered company data grid">
    <div class="column">
        <div class="ui three large statistics">
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/299-users-flat.svg" class="ui inline image">
                    10
                </div>
                <div class="label">
                    Clients
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/54-web-development-flat.svg" class="ui inline image">
                    13
                </div>
                <div class="label">
                    Projects
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/45-rocket-flat.svg" class="ui inline image">
                    14
                </div>
                <div class="label">
                    Technologies
                </div>
            </div>
        </div>
    </div>
    <div class="four column centered row">
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

<div class="ui fluid padding container">
    <div class="ui divider"></div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Mission</h3>
                <p>Our mission...</p>
                <h3 class="ui header">Vision</h3>
                <p>Our vision...</p>
                <h3 class="ui header">Values</h3>
                <p>Our values...</p>
            </div>
            <div class="six wide right floated column">
                <img src="../../assets/icons/67-diploma-flat.svg" class="ui fluid image">
            </div>
        </div>
    </div>
</div>