<div class="ui two column centered company data grid">
    <div class="column">
        <div class="ui three large statistics">
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/299-users-flat.svg" class="ui inline image">
                    12
                </div>
                <div class="label">
                    Clients
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/54-web-development-flat.svg" class="ui inline image">
                    15
                </div>
                <div class="label">
                    Projects
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="../../assets/icons/45-rocket-flat.svg" class="ui inline image">
                    26
                </div>
                <div class="label">
                    Technologies
                </div>
            </div>
        </div>
    </div>
    <div class="four column centered row">
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

<div class="ui fluid padding container">
    <div class="ui divider"></div>
</div>

<div class="ui vertical stripe basic segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Mission</h3>
                <div class="ui bulleted list">
                    <div class="item">To simplify and optimize the life of people</div>
                    <div class="item">To inspire people to make their best</div>
                    <div class="item">To create solutions and make difference</div>
                </div>
                <h3 class="ui header">Vision</h3>
                <div class="ui bulleted list">
                    <div class="item"><b>People:</b> Be a refference place to work where people loves what they do</div>
                    <div class="item"><b>Clients:</b> Bring to the world the best solutions on the market and most innovative</div>
                    <div class="item"><b>Planet:</b> Be a company that invests and helps to create ecology solutions</div>
                    <div class="item"><b>Profit:</b> Increase the return of the company to enlarge the impact to the world investing in innovative solutions</div>
                </div>
                <h3 class="ui header">Values</h3>
                <div class="ui bulleted list">
                    <div class="item"><b>Passion:</b> Make difference trough passion</div>
                    <div class="item"><b>Commitment:</b> Changing the world requires commitment</div>
                    <div class="item"><b>Ethic:</b> Being an exemplary human being</div>
                </div>
            </div>
            <div class="six wide right floated column">
                <img src="../../assets/icons/67-diploma-flat.svg" class="ui fluid image">
            </div>
        </div>
    </div>
</div>

<div class="ui fluid padding container">
    <div class="ui divider"></div>
</div>

<div class="ui very padded basic segment">
    <div class="ui middle aligned stackable grid center aligned container">
        <div class="row">
            <h2 class="ui header">
                Technologies
                <div class="sub header">Always seeking innovate using recent and trusted technologies</div>
            </h2>
        </div>
    </div>
</div>
<div class="ui vertical basic segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui center aligned header">Front-End</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui six stackable centered cards">
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/angular.svg">
                        </div>
                        <div class="content">
                            <a class="header">Angular</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/bootstrap.svg">
                        </div>
                        <div class="content">
                            <a class="header">Bootstrap</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/css-3.svg">
                        </div>
                        <div class="content">
                            <a class="header">CSS3</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/gulp.svg">
                        </div>
                        <div class="content">
                            <a class="header">Gulp</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/html-5.svg">
                        </div>
                        <div class="content">
                            <a class="header">HTML5</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/javascript.svg">
                        </div>
                        <div class="content">
                            <a class="header">JavaScript</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/jquery.svg">
                        </div>
                        <div class="content">
                            <a class="header">jQuery</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/materialize.svg">
                        </div>
                        <div class="content">
                            <a class="header">Materialize</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/sass.svg">
                        </div>
                        <div class="content">
                            <a class="header">SASS</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/semantic-ui.svg">
                        </div>
                        <div class="content">
                            <a class="header">Semantic UI</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/typescript.svg">
                        </div>
                        <div class="content">
                            <a class="header">TypeScript</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/wordpress.svg">
                        </div>
                        <div class="content">
                            <a class="header">WordPress</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui center aligned header">Back-End</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui six stackable centered cards">
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/cakephp.svg">
                        </div>
                        <div class="content">
                            <a class="header">CakePHP</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/lumen.svg">
                        </div>
                        <div class="content">
                            <a class="header">Lumen</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/php.svg">
                        </div>
                        <div class="content">
                            <a class="header">PHP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui center aligned header">Databases</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui six stackable centered cards">
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/mysql.svg">
                        </div>
                        <div class="content">
                            <a class="header">MySQL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui center aligned header">Servers</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui six stackable centered cards">
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/apache.svg">
                        </div>
                        <div class="content">
                            <a class="header">Apache</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/nginx.svg">
                        </div>
                        <div class="content">
                            <a class="header">Nginx</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui center aligned header">Package Managers</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui six stackable centered cards">
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/bower.svg">
                        </div>
                        <div class="content">
                            <a class="header">Bower</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/composer.svg">
                        </div>
                        <div class="content">
                            <a class="header">Composer</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/npm.svg">
                        </div>
                        <div class="content">
                            <a class="header">NPM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui center aligned header">Versioning</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui six stackable centered cards">
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/bitbucket.svg">
                        </div>
                        <div class="content">
                            <a class="header">Bitbucket</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/git.svg">
                        </div>
                        <div class="content">
                            <a class="header">Git</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/github.svg">
                        </div>
                        <div class="content">
                            <a class="header">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
            <div class="sixteen wide column">
                <h3 class="ui center aligned header">Development Environment</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui six stackable centered cards">
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/atom.svg">
                        </div>
                        <div class="content">
                            <a class="header">Atom</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/docker.svg">
                        </div>
                        <div class="content">
                            <a class="header">Docker</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/phpstorm.svg">
                        </div>
                        <div class="content">
                            <a class="header">PhpStorm</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="../../assets/images/technologies/sublime.png">
                        </div>
                        <div class="content">
                            <a class="header">Sublime Text</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image padding">
                            <img src="../../assets/images/technologies/vagrant.svg">
                        </div>
                        <div class="content">
                            <a class="header">Vagrant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>